<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Adam Karwowski</title>
    <meta name="description" content="Portfolio Template for Developer" />

    <!-- <link rel= "stylesheet" type= "text/css" href= "../static/styles/style.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}">
    <link rel="stylesheet" type="text/css" href="../static/styles/roll-menu.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/home.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/about.css">
    <link rel="stylesheet" type="text/css" href="../static/styles//experience.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/skills.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/contact.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap" rel="stylesheet" />
</head>

<body>
    <header class="header">
        <div class="header-content">
            <div>
                <ul class="header-hrefs">
                    <li>
                        <a href="#home" class="header-link"> Home </a>
                    </li>
                    <li>
                        <a href="#about" class="header-link">About </a>
                    </li>
                    <li>
                        <a href="#experience" class="header-link"> Experience </a>
                    </li>
                    <li>
                        <a href="#skills" class="header-link"> Skills </a>
                    </li>
                    <li>
                        <a href="#contact" class="header-link"> Contact </a>
                    </li>
                </ul>

            </div>
            <div class="socials">
                <div class="social">
                    <a href="https://github.com/adasqo" class="social-link">
                        <img src="../static/assets/github.png" alt="Github icon href" class="social-icon" />
                    </a>
                </div>
                <div class="social">
                    <a href="https://www.linkedin.com/in/adam-karwowski-274706174/" class="social-link">
                        <img src="../static/assets/linkedin.png" alt="Linkedin icon href" class="social-icon" />
                    </a>
                </div>
            </div>
            <div class="menu-roll">
                <img src="../static/assets/menu-roll-open.png" class="menu-roll-open" alt="Roll menu open icon" />
                <img src="../static/assets/menu-roll-close.jpeg" class="menu-roll-close display-not" alt="Roll menu close icon" />
            </div>
        </div>
        <div class="menu-roll-content">
            <ul>
                <li class="menu-roll-link">
                    <a href="/"> Home </a>
                </li>

                <li class="menu-roll-link">
                    <a href="./#about"> About </a>
                </li>

                <li class="menu-roll-link">
                    <a href="./#experience"> Experience </a>
                </li>
                <li class="menu-roll-link">
                    <a href="./#skills"> Skills </a>
                </li>
                <li class="menu-roll-link">
                    <a href="./#contact"> Contact </a>
                </li>
            </ul>
        </div>
    </header>
    <section class="home" id="home">
        <div class="home-content">
            <h1 class="heading-primary">Hi, I'm Adam Karwowski</h1>
            <div class="home-info">
                <p class="text-primary">
                    Software Developer interested in Machine Learning and Data Science
                </p>
            </div>
        </div>
    </section>
    <section id="about" class="about">
        <h2 class="about-intro">
            <span class="heading-about">About Me</span>
            <span class="about-text">
            Welcome to my website, I'm happy to host you here! 
          </span>
        </h2>
        <div class="about-content">
            <div class="about-content-main">
                <h3 class="about-content-title">Hey!</h3>
                <div class="about-ontent-details">
                    <p class="about-content-details-para">
                        Hey! My name is Adam and I'm a Software Developer interested in Data Science and Machine Learning. I'm located in Warsaw, Poland and I currently work for RedCompass Labs as Data Scientis/Software Developer.
                    </p>
                    <p class="about-content-details-para">
                        I'm very motivated to do something valuable to the world! I've always been highly interested in building things, products and apps. I try to learn new things and concepts everyday and I'm driven by the willingness to know as much as possible.
                    </p>
                    <p class="about-content-details-para">
                        In my free time I love running, playing tennis, reading books and playing piano.
                    </p>
                </div>
            </div>
            <div class="about-photo-wrapper">
                <img src="../static/assets/photo.jpg" class="about-photo" alt="Photo of me" />
            </div>
        </div>
    </section>
    <section id="experience">
        <div class="experience">
            <h1 class="experience-title">Experience</h1>
            <div class="experience-timeline">
                <div class="vtimeline-point">
                    <div class="vtimeline-icon">
                        <img src="../static/assets/exp-icon.png" class="exp-icon" alt="Experience icon" />
                    </div>
                    <div class="vtimeline-block">
                        <span class="vtimeline-date">October 2016 – February 2020</span>
                        <div data-date="September 2015 – September 2016" class="vtimeline-content">
                            <h3 class="about-content-title">Warsaw University of Technology</h3>
                            <h4 class="about-content-title">Student</h4>
                            <p>
                                Automatic Control and Robotics Student.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="vtimeline-point">
                    <div class="vtimeline-icon">
                        <img src="../static/assets/exp-icon.png" class="exp-icon" alt="Experience icon" />
                    </div>
                    <div class="vtimeline-block">
                        <span class="vtimeline-date">October 2018 – October 2020</span>
                        <div data-date="September 2015 – September 2016" class="vtimeline-content">
                            <h3 class="about-content-title">Warsaw University of Technology</h3>
                            <h4 class="about-content-title">Student</h4>
                            <p>
                                Computer Science Student.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="vtimeline-point">
                    <div class="vtimeline-icon">
                        <img src="../static/assets/exp-icon.png" class="exp-icon" alt="Experience icon" />
                    </div>
                    <div class="vtimeline-block">
                        <span class="vtimeline-date">October 2020</span>
                        <div data-date="September 2015 – September 2016" class="vtimeline-content">
                            <h3 class="about-content-title">RedCompass Labs</h3>
                            <h4 class="about-content-title">Data Scientist</h4>
                            <p>
                                Working as Data Scientist, Python Developer and recelty also as Java Developer.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="vtimeline-point">
                    <div class="vtimeline-icon">
                        <img src="../static/assets/exp-icon.png" class="exp-icon" alt="Experience icon" />
                    </div>
                    <div class="vtimeline-block">
                        <span class="vtimeline-date">October 2020</span>
                        <div data-date="September 2015 – September 2016" class="vtimeline-content">
                            <h3 class="about-content-title">Warsaw University of Technology</h3>
                            <h4 class="about-content-title">Student</h4>
                            <p>
                                Computer Science Master Student.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="skills">
        <h1 class="skills-title">Skills</h1>
        <div class="skills">
            <div class="skill-bars">
                <div class="bar">
                    <div class="info">
                        <span>Python</span>
                    </div>
                    <div class="progress-line python">
                        <span></span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>Java</span>
                    </div>
                    <div class="progress-line java">
                        <span></span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>React</span>
                    </div>
                    <div class="progress-line react">
                        <span></span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>HTML</span>
                    </div>
                    <div class="progress-line html">
                        <span></span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>CSS</span>
                    </div>
                    <div class="progress-line css">
                        <span></span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>Machine Learning</span>
                    </div>
                    <div class="progress-line ml">
                        <span></span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>Elasticsearch</span>
                    </div>
                    <div class="progress-line elastic">
                        <span></span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>SQL</span>
                    </div>
                    <div class="progress-line sql">
                        <span></span>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section id="contact" class="contact sec-pad">
        <div class="contact-container">
            <h2>
                <span class="contact-title">Contact</span>
                <span class="contact-info">
            Feel free to leave a message for me. Your feedback will be highly appreciated!
          </span>
            </h2>
            <div class="contact-form-container">
                <form action="#" class="contact-form">
                    <div class="contact-form-field">
                        <label class="contact-form-label">Name</label>
                        <input placeholder="Enter Your Name" type="text" class="contact-form-input" name="name" id="contact-name" />
                    </div>
                    <div class="contact-form-field">
                        <label class="contact-form-label">Email</label>
                        <input placeholder="Enter Your Email" type="text" class="contact-form-input" name="email" id="contact-email" />
                    </div>
                    <div class="contact-form-field">
                        <label class="contact-form-label">Message</label>
                        <textarea cols="30" rows="10" class="contact-form-input" placeholder="Enter Your Message" name="message" id="contact-message"></textarea>
                    </div>
                    <button type="submit" class="contact-btn" id="contact-submit">
              <strong>Submit</strong>
            </button>
                    <div>
                        <p class="response-text display-not" id="responseText"></p>
                    </div>
                    <script src="../static/js/concactSubmit.js"></script>
                </form>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer">

            <div class="footer-row2">
                <h4 class="heading heading-sm text-lt">Adam Karwowski</h4>
                <p class="footer-desc">
                    Software Developer, Warsaw, Poland
                </p>
            </div>
            <div class="footer-row1">
                <h2 class="heading heading-sm main-footer__heading-sm">
                    <span>Social</span>
                </h2>
                <div class="footer-social">
                    <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/adam-karwowski-274706174/">
                        <img class="footer-icon" src="../static/assets/linkedin.png" alt="Linkind icon href" />
                    </a>
                    <a target="_blank" rel="noreferrer" href="https://github.com/adasqo">
                        <img class="footer-icon" src="../static/assets/github.png" alt="Github icon href" />
                    </a>
                </div>
            </div>
        </div>

    </footer>
    <script src="../static/js/index.js"></script>
</body>

</html>